@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
body{
  background-color: #131017;
}
nav{
  padding: 2em 0 !important;
}

.background {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #030203;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #FFACAC;
    top: 21%;
    left: 82%;
    animation-duration: 17s;
    animation-delay: -24s;
    transform-origin: -5vw 15vh;
    box-shadow: 40vmin 0 5.565992262554612vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 60%;
    left: 48%;
    animation-duration: 42s;
    animation-delay: -16s;
    transform-origin: -18vw 3vh;
    box-shadow: 40vmin 0 5.2332415089484385vmin currentColor;
}
.background span:nth-child(2) {
    color: #FFACAC;
    top: 79%;
    left: 55%;
    animation-duration: 48s;
    animation-delay: -5s;
    transform-origin: -20vw 25vh;
    box-shadow: -40vmin 0 5.260201294789387vmin currentColor;
}
.background span:nth-child(3) {
    color: #12c3bf;
    top: 33%;
    left: 80%;
    animation-duration: 23s;
    animation-delay: -10s;
    transform-origin: -7vw -21vh;
    box-shadow: 40vmin 0 5.913371042825309vmin currentColor;
}
.background span:nth-child(4) {
    color: #FFACAC;
    top: 53%;
    left: 41%;
    animation-duration: 32s;
    animation-delay: -43s;
    transform-origin: 7vw 13vh;
    box-shadow: -40vmin 0 5.343678141576359vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 12%;
    left: 79%;
    animation-duration: 28s;
    animation-delay: -5s;
    transform-origin: -13vw 6vh;
    box-shadow: 40vmin 0 5.63731324676377vmin currentColor;
}
.background span:nth-child(6) {
    color: #12c3bf;
    top: 32%;
    left: 20%;
    animation-duration: 54s;
    animation-delay: -37s;
    transform-origin: -19vw 22vh;
    box-shadow: -40vmin 0 5.068278062909802vmin currentColor;
}
.background span:nth-child(7) {
    color: #d97d98;
    top: 87%;
    left: 21%;
    animation-duration: 17s;
    animation-delay: -14s;
    transform-origin: 19vw 7vh;
    box-shadow: 40vmin 0 5.724207875254768vmin currentColor;
}
.background span:nth-child(8) {
    color: #12c3bf;
    top: 2%;
    left: 38%;
    animation-duration: 30s;
    animation-delay: -20s;
    transform-origin: -14vw 4vh;
    box-shadow: 40vmin 0 5.390625448501949vmin currentColor;
}
.background span:nth-child(9) {
    color: #12c3bf;
    top: 28%;
    left: 9%;
    animation-duration: 53s;
    animation-delay: -11s;
    transform-origin: -22vw 24vh;
    box-shadow: -40vmin 0 5.007031081355132vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 93%;
    left: 79%;
    animation-duration: 44s;
    animation-delay: -14s;
    transform-origin: 16vw 7vh;
    box-shadow: -40vmin 0 5.505272141984085vmin currentColor;
}
.background span:nth-child(11) {
    color: #12c3bf;
    top: 35%;
    left: 38%;
    animation-duration: 20s;
    animation-delay: -24s;
    transform-origin: 0vw -21vh;
    box-shadow: -40vmin 0 5.4307363048535695vmin currentColor;
}
.background span:nth-child(12) {
    color: #583C87;
    top: 94%;
    left: 85%;
    animation-duration: 33s;
    animation-delay: -40s;
    transform-origin: -7vw -20vh;
    box-shadow: 40vmin 0 5.158467816304975vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 32%;
    left: 17%;
    animation-duration: 43s;
    animation-delay: -33s;
    transform-origin: -16vw 18vh;
    box-shadow: 40vmin 0 5.941001297107855vmin currentColor;
}
.background span:nth-child(14) {
    color: #d97d98;
    top: 62%;
    left: 92%;
    animation-duration: 19s;
    animation-delay: -8s;
    transform-origin: 7vw 21vh;
    box-shadow: 40vmin 0 5.562802533023191vmin currentColor;
} 

/* Tx_welcome_page */
/* .tx{
  position: relative;
} */
.rowx{
  display: flex;
}
.Tx_welcome_page{
    position: relative;

display: flex;
    margin-top: 2em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.Tx_welcome_page_text{
  width: 45%;
}


.Tx_welcome_page_text p,
.Tx_welcome_page_text button{
  margin-bottom: 0.5em;
}
.Tx_welcome_page_text h1{
  font-size: 3.5em;
  color: #05a6a6;
  background-image: -webkit-linear-gradient(45deg, #05a6a6 27%,#9688db 44%,#9e0081 91%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  color: white;
}
.Tx_welcome_page_text h2{
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
}
.Tx_welcome_page_text p{
  font-size: 1em;
  color: white;
  width: 80%;
}
.Tx_welcome_page_image{
  width: 45%;
}

.Tx_welcome_page_image img{
  width: 89%;
}

.imgDiv {
  display: inline-grid;
  margin: 10px;
}
.imgDiv button {
  margin: 10px auto 0px auto;
  
}
.cssbuttons-io-button {
  background: #A370F0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
 }
 
 .cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
 }
 
 .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
 }
 
 .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
 }
 
 .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
 }
 
 .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
 }
 


.nft_buy {
  --green: #1BFD9C;
  font-size: 15px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
 }
 
 .nft_buy:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
 }
 
 .nft_buy:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
 }
 
 .nft_buy:hover:before {
  transform: translateX(15em);
 }

/* .container {
  width: 80%;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
} */
img{
  border-radius: 1em;
}

/* .nft_buy {
  padding: 7px 5px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
} */

.nft_buy:hover {
  background-color: #45a049;
}

.imgGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 50px;
  margin-top: 50px;
  grid-auto-flow: dense;
  /* width: 100%; */
}

.contentDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #4CAF50;
  border-radius: 15px;
  padding: 20px;
}
/* footet */
footer{
background-color: #030203;
  padding-top: 6em !important;
  padding-bottom: 3em;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 5em;
  bottom: 0;
}

/* marketplace */
.marketplace img{
  width: 90%;
}
.col50{
  width: 49%;
  padding: 2px;
    float: left;

}
.marketplace_row{
  display: table;
}
.tokenIdsMinted{
  font-size: 1.5em;
}
@media screen and (max-width: 1000px) {
  .imgGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .col50{
  width: 100%;
  padding: 2px;
}
}

@media screen and (max-width: 600px) {
  .imgGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}